<div class="heading">
    <h1>About Us Page</h1>
    <h2>Welcome to MyApp!</h2>
  
  <p>At MyApp, we're passionate about creating innovative solutions that simplify your life. Our journey began with a simple idea: to develop user-friendly applications that enhance productivity and enrich experiences.</p>
  <p>Founded in [2024], our team consists of dedicated individuals with diverse backgrounds and expertise. From software developers to UX designers, we're united by our commitment to excellence and customer satisfaction.</p>
   
  <p>Thank you for choosing MyApp.</p>
</div>
<div class="container">
  <section class="about">
    <div class="about-image">
      <img src="../../../assets/Ashokstambha.jpg">
    </div>
    <div class="about-content">
      <h2>About My-App</h2>
      <p>Our mission is to empower individuals and businesses with cutting-edge technology. Whether you're a startup seeking streamlined workflows or a seasoned professional in need of specialized tools, MyApp has you covered.</p>
  
  <p>We believe in transparency, integrity, and continuous improvement. We prioritize user feedback and strive to adapt to evolving needs and trends in the digital landscape.</p>
  
  <p>Join us on this exciting journey as we revolutionize the way you work, play, and connect. Together, let's build a future where technology enhances every aspect of our lives.</p>
 <a href=""class="read-more">Read More</a>
    </div>
  </section>
</div>