<mat-card style="margin: 5% 30%; width : 400px;">
    <mat-card-content>
<div style="border: 1px solid black; padding: 2% 2% 5% 5%;" >
    <h3>Please tell us about yourself *</h3>
    <div>
        <textarea name="userInfo" (change)="getTextValue($event)"></textarea>
    </div>
    
        <div *ngFor="let option of optionList">
            {{option.question}}
            <div *ngFor="let opt of option.options">
                <input type="checkbox" value="{{opt.status}}"> {{opt.option}}
            </div>
        </div>
        <a  (click)="openDialog()" style="margin-right: 10px; color: blue;">add questions.....</a>
        <button type="button" mat-raised-button color="primary" (click)="gotoPreviewPage()">preview page</button>
</div>
</mat-card-content>
</mat-card>
